 /* Custom Fonts */
 @font-face {
    font-family : Zelle;
    src : url('../fonts/ZelleSans-1.ttf');
}

html * { font-family: 'Zelle', sans-serif !important; }
body {
    background: url('../images/background.jpg');
    background-size: cover;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    /* align-items: center;         */
}

.background-overlay {
    background: #6d1ed4;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.content-wrapper {
    /* position: relative; */
    z-index: 1;
    margin: 0 auto;
}

.form-instructions, .perk-confirmation-text {
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
}

.perk-form-wrapper  .form-instructions {
    flex: .33;
    text-align: center;
}

.auth-form-wrapper, .perk-form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 300px;
}

.auth-form-wrapper {
    max-width: 500px;
}

.perk-form-wrapper {
    max-width: 1080px;
}


.auth-form-wrapper input, input {
    margin-bottom: 15px;
    padding: 15px 15px;
    border: none;
    border-radius: 7px;
    color: black;
}

.auth-form-wrapper input::placeholder {
    color: black;
}

.auth-form-wrapper .primary-button, .perk-form-wrapper .primary-button, button {
    background : #f4f471;
    color : #6d1ed4;
    border: none;
    border-radius: 7px;
    padding: 15px 0px;
    width: 100%;
    font-weight: 900;
}

.auth-form-wrapper button:hover, .perk-form-wrapper button:hover, button:hover {
    cursor: pointer;
    background : #571CB6;
    color : #ffffff;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 10px;
    color: white;
}

.radio-buttons-group {
    display: flex;
    flex-direction: row;
}

.radio-group {
    margin-right: 15px;
}

.perk-groups {
    display: flex;
    flex-direction: row;
}

.perk-group-wrapper {
    background: #6d1ed4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    flex: .33;
}

.perk-image-wrappe {
    display: flex;
    justify-content: center;
}

.perk-image {
    height: 300px;
    width: auto;
}

.perk-group-wrapper.one {
    margin-right: 7.5px;
}

.perk-group-wrapper.two {
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.perk-group-wrapper.three {
    margin-left: 7.5px;
}

.perk-group-wrapper h3 {
    color: white;
    margin-top: 0;
    min-height: 75px;
    text-align: center;
}
.perk-buttons-wrapper {
    display: flex;
    flex-direction: column;
}


.secondary-button {
    background : #f4f471;
    color : #6d1ed4;
    border: none;
    border-radius: 7px;
    padding: 15px 0px;
    margin-bottom: 10px;
    font-weight: 900;
}

.logo-wrapper {
    display: flex; 
    align-items: center;
    margin: 0 auto;    
    flex-direction: column;      
}

.logo-wrapper .bourbon-and-beyond-logo {
    width: 250px;
    margin-bottom: 25px
}

.logo-wrapper .rocks-room-logo {
    width: 350px;
}

.section-header {
    display: flex;
    align-items: center;
}

.header-line {
    flex: .33;
    height: 1px;
    background: white;
}

.confirmation-message-wrapper { 
    color: white;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .perk-groups {
        flex-direction: column;
    }
}

/* Admin Email */
.admin-dashboard-wrapper {
    width: 960px;
    margin: 0 auto;
}

.admin-dashboard-header {
    color: white;
    text-align: center;
}

.admin-dashboard-users-table {
    background: #6d1ed4;
    border-radius: 7px;
}

.admin-user-header-column {
    padding: 15px 15px;
    border-right: 1px solid #6d1ed4;
}

.admin-user-info-column {
    padding: 15px 15px;
    border-right: 1px solid white;
}

.admin-user-info-column.one, .admin-user-header-column.one { flex: 1; }
.admin-user-info-column.two, .admin-user-header-column.two { flex: 1; }
.admin-user-info-column.three, .admin-user-header-column.three { flex: 1; }
.admin-user-info-column.four, .admin-user-header-column.four { flex: .5; }
.admin-user-info-column.five, .admin-user-header-column.five { flex: .25; border-right: none; }

.admin-user-perk-column {
    padding: 15px 15px;
    border-right: 1px solid white;
}
.admin-user-perk-column.one { flex: 1; }
.admin-user-perk-column.two { flex: 1; }
.admin-user-perk-column.three { flex: 1; border-right: none; }

.admin-user-header {
    background: #f4f471;
    color: #6d1ed4;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #6d1ed4;
}

.admin-user-wrapper {
    color: white;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
}

.admin-user-wrapper:last-child {
    border-bottom: none;
}

.admin-user-sub-header {
    background: #f4f471;
    color: #6d1ed4;
    padding: 15px 15px;
    border-bottom: 1px solid #6d1ed4;
    border-right: 1px solid #6d1ed4;
}

.admin-perks-wrapper, .admin-dashboard-users-table {
    margin-top: 15px;
}

.table-nav {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.table-nav-item {
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin: 0px 15px;
}

.table-nav-item:hover {
    cursor: pointer;
}

.table-nav-item.active {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .admin-dashboard-wrapper {
        width: 350px;
    }

    .admin-user-wrapper {
        flex-direction: column;
    }
}